@import "tailwindcss";

@theme {
  --font-family: 'Roboto', sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
  --opacity-66: 0.66;
  --opacity-45: 0.45;
  --main-color: #e1003c;
  --default-notification-item: blue;
  --urgent-notification-item: red;
}

@layer base {
  body {
    font-family: var(--font-family);
  }
}

@layer utilities {
  .opacity-66 {
    opacity: var(--opacity-66);
  }
  
  .opacity-45 {
    opacity: var(--opacity-45);
  }
}
