@import "tailwindcss";

@theme {
  --font-family-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  body {
    font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
  }
}
