@import "tailwindcss";

@theme {
  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@layer base {
  :root {
    font-family: var(--font-sans);
    --color-table-header: #deb5b5;
    --color-table-rows: #CDCDCD;
  }

  body {
    font-family: inherit;
  }
}
