@import "tailwindcss";

@theme {
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  html, body {
    @apply font-sans antialiased;
  }
}