@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  :root {
    --color-table-header: #deb5b5;
    --color-table-rows: #CDCDCD;
  }

  body {
    font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
  }
}
