.App-login {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.App-login input {
    width: 40%;
    border: 1px solid;
    border-radius: 4px;
}

.App-login p {
    margin-bottom: 10px;
}

.App-login button {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    width: max-content;
}