.App-header {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #e1003c;
    flex-direction: column;
    margin: 20px;
}

.App-header h1 {
    color: #e1003c;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.App-header h4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.App-header img {
    max-width: 70%;
    height: auto;
}
